package com.dawex.sigourney.trustframework.vc.core.integration.v2.client;

import com.dawex.sigourney.notary.client.v2.ApiClient;
import com.dawex.sigourney.notary.client.v2.ApiException;
import com.dawex.sigourney.notary.client.v2.ApiResponse;
import com.dawex.sigourney.notary.client.v2.Pair;
import com.fasterxml.jackson.databind.ObjectMapper;

import java.io.IOException;
import java.io.InputStream;
import java.net.URI;
import java.net.http.HttpClient;
import java.net.http.HttpRequest;
import java.net.http.HttpResponse;
import java.time.Duration;
import java.util.ArrayList;
import java.util.List;
import java.util.Optional;
import java.util.StringJoiner;
import java.util.function.Consumer;

/**
 * Custom client modified from com.dawex.sigourney.notary.client.v2.RegistrationNumberApi, generated by OpenAPI generator (JavaClient).
 * It fixes <a href="https://github.com/OpenAPITools/openapi-generator/issues/19491">this issue</a>, that prevents the client
 * from retrieving non-json response (the notary api response is not a proper json data, but a JSON-LD encoded in JWT).
 */
public class RegistrationNumberApi {
	private final HttpClient memberVarHttpClient;

	private final ObjectMapper memberVarObjectMapper;

	private final String memberVarBaseUri;

	private final Consumer<HttpRequest.Builder> memberVarInterceptor;

	private final Duration memberVarReadTimeout;

	private final Consumer<HttpResponse<InputStream>> memberVarResponseInterceptor;

	private final Consumer<HttpResponse<InputStream>> memberVarAsyncResponseInterceptor;

	public RegistrationNumberApi() {
		this(new ApiClient());
	}

	public RegistrationNumberApi(ApiClient apiClient) {
		memberVarHttpClient = apiClient.getHttpClient();
		memberVarObjectMapper = apiClient.getObjectMapper();
		memberVarBaseUri = apiClient.getBaseUri();
		memberVarInterceptor = apiClient.getRequestInterceptor();
		memberVarReadTimeout = apiClient.getReadTimeout();
		memberVarResponseInterceptor = apiClient.getResponseInterceptor();
		memberVarAsyncResponseInterceptor = apiClient.getAsyncResponseInterceptor();
	}

	protected ApiException getApiException(String operationId, HttpResponse<InputStream> response) throws IOException {
		try (final InputStream in = response.body()) {
			String body = in == null ? null : new String(in.readAllBytes());
			String message = formatExceptionMessage(operationId, response.statusCode(), body);
			return new ApiException(response.statusCode(), message, response.headers(), body);
		}
	}

	private String formatExceptionMessage(String operationId, int statusCode, String body) {
		if (body == null || body.isEmpty()) {
			body = "[no body]";
		}
		return operationId + " call failed with: " + statusCode + " - " + body;
	}

	/**
	 * Produce a registration number verifiable credential from a Economic Operators Registration and      Identification (EORI)
	 * This endpoint checks the given Economic Operators Registration and Identification (EORI)  against the      European Taxation Customs API and responds with a verifiable credential attesting the EORI&#39;s validity as a      registration number
	 *
	 * @param vcId      The output verifiable credential ID (required)
	 * @param subjectId The output credential subject ID (required)
	 * @param eori      The Economic Operators Registration and Identification (EORI) to verify and produce the verifiable      credential from (required)
	 * @return String
	 * @throws ApiException if fails to make API call
	 */
	public String eoriControllerCheckEori(String vcId, String subjectId, String eori) throws ApiException {
		ApiResponse<String> localVarResponse = eoriControllerCheckEoriWithHttpInfo(vcId, subjectId, eori);
		return localVarResponse.getData();
	}

	/**
	 * Produce a registration number verifiable credential from a Economic Operators Registration and      Identification (EORI)
	 * This endpoint checks the given Economic Operators Registration and Identification (EORI)  against the      European Taxation Customs API and responds with a verifiable credential attesting the EORI&#39;s validity as a      registration number
	 *
	 * @param vcId      The output verifiable credential ID (required)
	 * @param subjectId The output credential subject ID (required)
	 * @param eori      The Economic Operators Registration and Identification (EORI) to verify and produce the verifiable      credential from (required)
	 * @return ApiResponse&lt;String&gt;
	 * @throws ApiException if fails to make API call
	 */
	public ApiResponse<String> eoriControllerCheckEoriWithHttpInfo(String vcId, String subjectId, String eori) throws ApiException {
		HttpRequest.Builder localVarRequestBuilder = eoriControllerCheckEoriRequestBuilder(vcId, subjectId, eori);
		try {
			HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
					localVarRequestBuilder.build(),
					HttpResponse.BodyHandlers.ofInputStream());
			if (memberVarResponseInterceptor != null) {
				memberVarResponseInterceptor.accept(localVarResponse);
			}
			if (localVarResponse.statusCode() / 100 != 2) {
				throw getApiException("eoriControllerCheckEori", localVarResponse);
			}
			return createApiResponse(localVarResponse);
		} catch (IOException e) {
			throw new ApiException(e);
		} catch (InterruptedException e) {
			Thread.currentThread().interrupt();
			throw new ApiException(e);
		}
	}

	private HttpRequest.Builder eoriControllerCheckEoriRequestBuilder(String vcId, String subjectId, String eori) throws ApiException {
		// verify the required parameter 'vcId' is set
		if (vcId == null) {
			throw new ApiException(400, "Missing the required parameter 'vcId' when calling eoriControllerCheckEori");
		}
		// verify the required parameter 'subjectId' is set
		if (subjectId == null) {
			throw new ApiException(400, "Missing the required parameter 'subjectId' when calling eoriControllerCheckEori");
		}
		// verify the required parameter 'eori' is set
		if (eori == null) {
			throw new ApiException(400, "Missing the required parameter 'eori' when calling eoriControllerCheckEori");
		}

		HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

		String localVarPath = "/registration-numbers/eori/{eori}"
				.replace("{eori}", ApiClient.urlEncode(eori.toString()));

		List<Pair> localVarQueryParams = new ArrayList<>();
		StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
		String localVarQueryParameterBaseName;
		localVarQueryParameterBaseName = "vcId";
		localVarQueryParams.addAll(ApiClient.parameterToPairs("vcId", vcId));
		localVarQueryParameterBaseName = "subjectId";
		localVarQueryParams.addAll(ApiClient.parameterToPairs("subjectId", subjectId));

		if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
			StringJoiner queryJoiner = new StringJoiner("&");
			localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
			if (localVarQueryStringJoiner.length() != 0) {
				queryJoiner.add(localVarQueryStringJoiner.toString());
			}
			localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
		} else {
			localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
		}

		localVarRequestBuilder.header("Accept", "application/vc+ld+jwt, application/json");

		localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
		if (memberVarReadTimeout != null) {
			localVarRequestBuilder.timeout(memberVarReadTimeout);
		}
		if (memberVarInterceptor != null) {
			memberVarInterceptor.accept(localVarRequestBuilder);
		}
		return localVarRequestBuilder;
	}

	/**
	 * Produce a registration number verifiable credential from a Legal Entity Identifier (LEI) code
	 * This endpoint checks the given Legal Entity Identifier (LEI) code against the Global Legal Entity      Identifier Foundation (GLEIF) API and responds with a verifiable credential attesting the LEI code&#39;s validity as      a registration number
	 *
	 * @param vcId      The output verifiable credential ID (required)
	 * @param subjectId The output credential subject ID (required)
	 * @param leiCode   The Legal Entity Identifier (LEI) code to verify and produce the verifiable credential from (required)
	 * @return String
	 * @throws ApiException if fails to make API call
	 */
	public String leiCodeControllerCheckLeiCode(String vcId, String subjectId, String leiCode) throws ApiException {
		ApiResponse<String> localVarResponse = leiCodeControllerCheckLeiCodeWithHttpInfo(vcId, subjectId, leiCode);
		return localVarResponse.getData();
	}

	/**
	 * Produce a registration number verifiable credential from a Legal Entity Identifier (LEI) code
	 * This endpoint checks the given Legal Entity Identifier (LEI) code against the Global Legal Entity      Identifier Foundation (GLEIF) API and responds with a verifiable credential attesting the LEI code&#39;s validity as      a registration number
	 *
	 * @param vcId      The output verifiable credential ID (required)
	 * @param subjectId The output credential subject ID (required)
	 * @param leiCode   The Legal Entity Identifier (LEI) code to verify and produce the verifiable credential from (required)
	 * @return ApiResponse&lt;String&gt;
	 * @throws ApiException if fails to make API call
	 */
	public ApiResponse<String> leiCodeControllerCheckLeiCodeWithHttpInfo(String vcId, String subjectId, String leiCode)
			throws ApiException {
		HttpRequest.Builder localVarRequestBuilder = leiCodeControllerCheckLeiCodeRequestBuilder(vcId, subjectId, leiCode);
		try {
			HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
					localVarRequestBuilder.build(),
					HttpResponse.BodyHandlers.ofInputStream());
			if (memberVarResponseInterceptor != null) {
				memberVarResponseInterceptor.accept(localVarResponse);
			}
			if (localVarResponse.statusCode() / 100 != 2) {
				throw getApiException("leiCodeControllerCheckLeiCode", localVarResponse);
			}
			return createApiResponse(localVarResponse);
		} catch (IOException e) {
			throw new ApiException(e);
		} catch (InterruptedException e) {
			Thread.currentThread().interrupt();
			throw new ApiException(e);
		}
	}

	private HttpRequest.Builder leiCodeControllerCheckLeiCodeRequestBuilder(String vcId, String subjectId, String leiCode)
			throws ApiException {
		// verify the required parameter 'vcId' is set
		if (vcId == null) {
			throw new ApiException(400, "Missing the required parameter 'vcId' when calling leiCodeControllerCheckLeiCode");
		}
		// verify the required parameter 'subjectId' is set
		if (subjectId == null) {
			throw new ApiException(400, "Missing the required parameter 'subjectId' when calling leiCodeControllerCheckLeiCode");
		}
		// verify the required parameter 'leiCode' is set
		if (leiCode == null) {
			throw new ApiException(400, "Missing the required parameter 'leiCode' when calling leiCodeControllerCheckLeiCode");
		}

		HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

		String localVarPath = "/registration-numbers/lei-code/{leiCode}"
				.replace("{leiCode}", ApiClient.urlEncode(leiCode.toString()));

		List<Pair> localVarQueryParams = new ArrayList<>();
		StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
		String localVarQueryParameterBaseName;
		localVarQueryParameterBaseName = "vcId";
		localVarQueryParams.addAll(ApiClient.parameterToPairs("vcId", vcId));
		localVarQueryParameterBaseName = "subjectId";
		localVarQueryParams.addAll(ApiClient.parameterToPairs("subjectId", subjectId));

		if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
			StringJoiner queryJoiner = new StringJoiner("&");
			localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
			if (localVarQueryStringJoiner.length() != 0) {
				queryJoiner.add(localVarQueryStringJoiner.toString());
			}
			localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
		} else {
			localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
		}

		localVarRequestBuilder.header("Accept", "application/vc+ld+jwt, application/json");

		localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
		if (memberVarReadTimeout != null) {
			localVarRequestBuilder.timeout(memberVarReadTimeout);
		}
		if (memberVarInterceptor != null) {
			memberVarInterceptor.accept(localVarRequestBuilder);
		}
		return localVarRequestBuilder;
	}

	/**
	 * Produce a registration number verifiable credential from an OpenCorporates Tax ID
	 * This endpoint checks the given OpenCorporates Tax ID against the OpenCorporates API and responds with      a verifiable credential attesting the tax ID&#39;s validity as a registration number
	 *
	 * @param vcId      The output verifiable credential ID (required)
	 * @param subjectId The output credential subject ID (required)
	 * @param taxId     The OpenCorporates tax ID code to verify and produce the verifiable credential from (required)
	 * @return String
	 * @throws ApiException if fails to make API call
	 */
	public String openCorporatesTaxIdControllerCheckTaxId(String vcId, String subjectId, String taxId) throws ApiException {
		ApiResponse<String> localVarResponse = openCorporatesTaxIdControllerCheckTaxIdWithHttpInfo(vcId, subjectId, taxId);
		return localVarResponse.getData();
	}

	/**
	 * Produce a registration number verifiable credential from an OpenCorporates Tax ID
	 * This endpoint checks the given OpenCorporates Tax ID against the OpenCorporates API and responds with      a verifiable credential attesting the tax ID&#39;s validity as a registration number
	 *
	 * @param vcId      The output verifiable credential ID (required)
	 * @param subjectId The output credential subject ID (required)
	 * @param taxId     The OpenCorporates tax ID code to verify and produce the verifiable credential from (required)
	 * @return ApiResponse&lt;String&gt;
	 * @throws ApiException if fails to make API call
	 */
	public ApiResponse<String> openCorporatesTaxIdControllerCheckTaxIdWithHttpInfo(String vcId, String subjectId, String taxId)
			throws ApiException {
		HttpRequest.Builder localVarRequestBuilder = openCorporatesTaxIdControllerCheckTaxIdRequestBuilder(vcId, subjectId, taxId);
		try {
			HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
					localVarRequestBuilder.build(),
					HttpResponse.BodyHandlers.ofInputStream());
			if (memberVarResponseInterceptor != null) {
				memberVarResponseInterceptor.accept(localVarResponse);
			}
			if (localVarResponse.statusCode() / 100 != 2) {
				throw getApiException("openCorporatesTaxIdControllerCheckTaxId", localVarResponse);
			}
			return createApiResponse(localVarResponse);
		} catch (IOException e) {
			throw new ApiException(e);
		} catch (InterruptedException e) {
			Thread.currentThread().interrupt();
			throw new ApiException(e);
		}
	}

	private HttpRequest.Builder openCorporatesTaxIdControllerCheckTaxIdRequestBuilder(String vcId, String subjectId, String taxId)
			throws ApiException {
		// verify the required parameter 'vcId' is set
		if (vcId == null) {
			throw new ApiException(400, "Missing the required parameter 'vcId' when calling openCorporatesTaxIdControllerCheckTaxId");
		}
		// verify the required parameter 'subjectId' is set
		if (subjectId == null) {
			throw new ApiException(400, "Missing the required parameter 'subjectId' when calling openCorporatesTaxIdControllerCheckTaxId");
		}
		// verify the required parameter 'taxId' is set
		if (taxId == null) {
			throw new ApiException(400, "Missing the required parameter 'taxId' when calling openCorporatesTaxIdControllerCheckTaxId");
		}

		HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

		String localVarPath = "/registration-numbers/tax-id/{taxId}"
				.replace("{taxId}", ApiClient.urlEncode(taxId.toString()));

		List<Pair> localVarQueryParams = new ArrayList<>();
		StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
		String localVarQueryParameterBaseName;
		localVarQueryParameterBaseName = "vcId";
		localVarQueryParams.addAll(ApiClient.parameterToPairs("vcId", vcId));
		localVarQueryParameterBaseName = "subjectId";
		localVarQueryParams.addAll(ApiClient.parameterToPairs("subjectId", subjectId));

		if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
			StringJoiner queryJoiner = new StringJoiner("&");
			localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
			if (localVarQueryStringJoiner.length() != 0) {
				queryJoiner.add(localVarQueryStringJoiner.toString());
			}
			localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
		} else {
			localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
		}

		localVarRequestBuilder.header("Accept", "application/vc+ld+jwt, application/json");

		localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
		if (memberVarReadTimeout != null) {
			localVarRequestBuilder.timeout(memberVarReadTimeout);
		}
		if (memberVarInterceptor != null) {
			memberVarInterceptor.accept(localVarRequestBuilder);
		}
		return localVarRequestBuilder;
	}

	/**
	 * Produce a registration number verifiable credential from a VAT ID
	 * This endpoint checks the given VAT ID against the european commission&#39;s API and responds with a      verifiable credential attesting the VAT ID&#39;s validity as a registration number
	 *
	 * @param vcId      The output verifiable credential ID (required)
	 * @param subjectId The output credential subject ID (required)
	 * @param vatId     The VAT ID to verify and produce the verifiable credential from (required)
	 * @return String
	 * @throws ApiException if fails to make API call
	 */
	public String vatIdControllerCheckVatId(String vcId, String subjectId, String vatId) throws ApiException {
		ApiResponse<String> localVarResponse = vatIdControllerCheckVatIdWithHttpInfo(vcId, subjectId, vatId);
		return localVarResponse.getData();
	}

	/**
	 * Produce a registration number verifiable credential from a VAT ID
	 * This endpoint checks the given VAT ID against the european commission&#39;s API and responds with a      verifiable credential attesting the VAT ID&#39;s validity as a registration number
	 *
	 * @param vcId      The output verifiable credential ID (required)
	 * @param subjectId The output credential subject ID (required)
	 * @param vatId     The VAT ID to verify and produce the verifiable credential from (required)
	 * @return ApiResponse&lt;String&gt;
	 * @throws ApiException if fails to make API call
	 */
	public ApiResponse<String> vatIdControllerCheckVatIdWithHttpInfo(String vcId, String subjectId, String vatId) throws ApiException {
		HttpRequest.Builder localVarRequestBuilder = vatIdControllerCheckVatIdRequestBuilder(vcId, subjectId, vatId);
		try {
			HttpResponse<InputStream> localVarResponse = memberVarHttpClient.send(
					localVarRequestBuilder.build(),
					HttpResponse.BodyHandlers.ofInputStream());
			if (memberVarResponseInterceptor != null) {
				memberVarResponseInterceptor.accept(localVarResponse);
			}
			if (localVarResponse.statusCode() / 100 != 2) {
				throw getApiException("vatIdControllerCheckVatId", localVarResponse);
			}
			return createApiResponse(localVarResponse);
		} catch (IOException e) {
			throw new ApiException(e);
		} catch (InterruptedException e) {
			Thread.currentThread().interrupt();
			throw new ApiException(e);
		}
	}

	private HttpRequest.Builder vatIdControllerCheckVatIdRequestBuilder(String vcId, String subjectId, String vatId) throws ApiException {
		// verify the required parameter 'vcId' is set
		if (vcId == null) {
			throw new ApiException(400, "Missing the required parameter 'vcId' when calling vatIdControllerCheckVatId");
		}
		// verify the required parameter 'subjectId' is set
		if (subjectId == null) {
			throw new ApiException(400, "Missing the required parameter 'subjectId' when calling vatIdControllerCheckVatId");
		}
		// verify the required parameter 'vatId' is set
		if (vatId == null) {
			throw new ApiException(400, "Missing the required parameter 'vatId' when calling vatIdControllerCheckVatId");
		}

		HttpRequest.Builder localVarRequestBuilder = HttpRequest.newBuilder();

		String localVarPath = "/registration-numbers/vat-id/{vatId}"
				.replace("{vatId}", ApiClient.urlEncode(vatId.toString()));

		List<Pair> localVarQueryParams = new ArrayList<>();
		StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
		String localVarQueryParameterBaseName;
		localVarQueryParameterBaseName = "vcId";
		localVarQueryParams.addAll(ApiClient.parameterToPairs("vcId", vcId));
		localVarQueryParameterBaseName = "subjectId";
		localVarQueryParams.addAll(ApiClient.parameterToPairs("subjectId", subjectId));

		if (!localVarQueryParams.isEmpty() || localVarQueryStringJoiner.length() != 0) {
			StringJoiner queryJoiner = new StringJoiner("&");
			localVarQueryParams.forEach(p -> queryJoiner.add(p.getName() + '=' + p.getValue()));
			if (localVarQueryStringJoiner.length() != 0) {
				queryJoiner.add(localVarQueryStringJoiner.toString());
			}
			localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath + '?' + queryJoiner.toString()));
		} else {
			localVarRequestBuilder.uri(URI.create(memberVarBaseUri + localVarPath));
		}

		localVarRequestBuilder.header("Accept", "application/vc+ld+jwt, application/json");

		localVarRequestBuilder.method("GET", HttpRequest.BodyPublishers.noBody());
		if (memberVarReadTimeout != null) {
			localVarRequestBuilder.timeout(memberVarReadTimeout);
		}
		if (memberVarInterceptor != null) {
			memberVarInterceptor.accept(localVarRequestBuilder);
		}
		return localVarRequestBuilder;
	}

	private static ApiResponse<String> createApiResponse(HttpResponse<InputStream> localVarResponse) {
		final String data = Optional.ofNullable(localVarResponse.body())
				.flatMap(in -> {
					try (in) {
						return Optional.of(new String(in.readAllBytes()));
					} catch (IOException e) {
						return Optional.empty();
					}
				}).orElse("");
		return new ApiResponse<>(localVarResponse.statusCode(), localVarResponse.headers().map(), data);
	}
}
